<h5><a href="index.html">Pain<span class="white">&</span>Profit</a></h5>
<h6></h6>
<ul>
  <li><a href="part1.html">Part 1<span class="part-title">: The preventable tragedy of D’ashon Morris</span></a></li>
  <li><a href="part2.html">Part 2<span class="part-title">: As patients suffer, companies profit</span></a></li>
  <li><a href="part3.html">Part 3<span class="part-title">: Texas pays companies billions for ‘sham networks’ of doctors</span></a></li>
  <li><a href="part4.html">Part 4<span class="part-title">: ‘Glossover of the horror’</span></a></li>
  <li><a href="part5.html">Part 5<span class="part-title">: Parents vs. the Austin machine</span></a></li>
  <li><a href="part6.html">Part 6<span class="part-title">: ‘Recipe for disaster’</span></a></li>
  <li><a href="part7.html">Part 7<span class="part-title">: Stacked against them</span></a></li>
  <li><a href="part8.html">Part 8<span class="part-title">: Eight steps Texas can take to fix its managed-care mess</span></a></li>
  <li><a href="medicaid.html">What is Medicaid?</a></li>
  <li><a href="document.html">Documents</a></li>
</ul>
