
<div class="walkthrough__wrapper">
  <div class="walkthrough walkthough__revolving-door wide-block initial-state">
    <svg id="revolving-door"></svg>
    <div id="revolving-door-chatter">
      <h5><span class="touch-text"><i class="fas fa-hand-pointer"></i> Tap</span><span class="click-text"><i class="fas fa-mouse-pointer"></i> Click</span> a person or organization to learn more.</h5>
    </div>
    <div id="revolving-door-intro">
      <h3>Managed care&rsquo;s revolving door</h3>
      <p>For two decades, state and elected officials have often gone to work for corporations that get business from Texas. Here are some examples we identified by using a decade of lobbying data and online résumés.</p>
      <div class="call-to-action revolving-door-start">
        See what we found
        <button class="walkthrough__button walkthrough__next"><i class="fa fa-chevron-right"></i></button>
      </div>
    </div>
  </div>
  <p class="credit">Andrew Chavez and Michael Hogue / DMN</p>
</div>
